# DEDS Werkcollege 2.2

## Imports

In [21]:
import pyodbc
import sqlite3 as sql
import pandas as pd

## Connectie SSMS

In [26]:
DB = {
    "servername" : r"VISSIE\SQLEXPRESS",
    "database" : "SDM"}

export_conn = pyodbc.connect(f"""DRIVER={'SQL SERVER'};
                             SERVER={DB['servername']};
                             DATABASE={DB['database']};
                             Trusted_Connection=yes
                             """)
export_cursor = export_conn.cursor()

## Connecties SQL Databases (raw)

In [ ]:
connection_crm = sql.connect(r"..\..\..\data\raw\go_crm_train.sqlite")
connection_sales = sql.connect(r"..\..\..\data\raw\go_sales_train.sqlite")
connection_staff = sql.connect(r"..\..\..\data\raw\go_staff_train.sqlite")

## Dataframes
alle tabelnamen worden opgehaald door de create_dataframes_sql functie. Alle gelezen dataframes worden in een dictionary gestopt, met als key de tabel naam.

In [ ]:
def create_dataframes_sql(connection, db_type : str):
    dictionary : dict = {}
    query : str = ""
    key : str = ""
    
    if (db_type == "sqlite"):
        query = "SELECT name FROM sqlite_master WHERE type='table';"
        key = "name"
    elif (db_type == "ssms"):
        query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE';"
        key = "TABLE_NAME"
    
    table_names = pd.read_sql(query, connection)
    
    for table in table_names[key].tolist():
        dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
    
    return dictionary

crm = create_dataframes_sql(connection_crm, "sqlite")
sales = create_dataframes_sql(connection_sales, "sqlite")
staff = create_dataframes_sql(connection_staff, "sqlite")
sdm = create_dataframes_sql(export_conn, "ssms")

C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_names = pd.read_sql(query, connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)
C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_24128\282968066.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dictionary[table] = pd.read_sql(f"SELECT * FROM {table}", connection)

Empty DataFrame
Columns: [RETURN_REASON_CODE, RETURN_DESCRIPTION_EN]
Index: []

## Query runners

In [89]:
from typing import Iterable


def query_remove(table_name : str):
    try:
        query = f"TRUNCATE {table_name}"
    except pyodbc.Error:
        print(query)
        return table_name
    
    return None

def create_add_query(row):
    query = ""
    columns = list(row.keys())
    
    for pos in range(len(columns)):
        if (pos == len(columns) - 1):
            query += f"{columns[pos]}) VALUES ("
        else:
            query += f"{columns[pos]}, "
    
    data = list(row)
    
    for pos in range(len(data)):
        if (pos == len(data) - 1):
            query += f"{data[pos]})"
        else:
            query += f"{data[pos]}, "
    
    return query

def query_add(table_name : str, table_data : pd.DataFrame):
    for index, row in table_data.iterrows():
        query : str = f"INSERT INTO {table_name} ("
        query += create_add_query(row)
        print(query)

## Leegmaken SDM Database

In [53]:
tables_sdm = list(sdm.keys())

while len(tables_sdm) > 0:
    for table in tables_sdm:
        temp = query_remove(table)
        
        tables_sdm.remove(table)
        
        if (temp != None):
            tables_sdm.add(temp)

print("All items are removed")

All items are removed

## Toevoegen data SDM Database

In [90]:
crm_keys = list(crm.keys())

for key in crm_keys:
    query_add(key, crm[key])

INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (1, 20, 0)
INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (2, 30, 21)
INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (3, 40, 31)
INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (4, 50, 41)
INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (5, 60, 51)
INSERT INTO age_group (AGE_GROUP_CODE, UPPER_AGE, LOWER_AGE) VALUES (6, 70, 61)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (1, France, F01, 6)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (2, Germany, F02, 6)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (3, United States, F03, 1)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (4, Canada, F04, 1)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (5, Austria, F05, 7)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (6, Italy, F06, 7)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (7, Netherlands, F07, 5)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (8, Switzerland, F08, 6)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (9, United Kingdom, F09, 6)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (10, Sweden, F10, 5)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (11, Japan, F11, 4)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (12, Taiwan, F12, 4)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (13, Korea, F13, 4)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (14, China, F14, 4)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (16, Australia, F15, 4)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (17, Belgium, F16, 6)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (18, Denmark, F17, 5)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (19, Spain, F18, 7)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (20, Mexico, F19, 1)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (21, Brazil, F20, 1)
INSERT INTO country (COUNTRY_CODE, COUNTRY_EN, FLAG_IMAGE, SALES_TERRITORY_CODE) VALUES (22, Finland, F21, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (1, nan, ActiForme, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (15, 234.0, SportsClub, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (23, 229.0, Anapurna, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (32, 230.0, Cordages Discount, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (33, 228.0, Altitudes extrêmes, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (34, nan, Optique et Lentilles, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (35, 231.0, Camping Sauvage, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (37, 232.0, Grand choix, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (44, nan, Die Fitness-Experten, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (47, 23.0, Der Fitness-Doktor, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (48, 24.0, Sport & Freizeit, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (49, 25.0, Holstein Golf, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (50, 26.0, Die Zeltstadt, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (51, nan, Extrem!, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (54, 27.0, In die Berge!, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (57, 45.0, Rad und Tat, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (58, 28.0, Weitblick, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (89, 1.0, Rock Steady, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (90, 2.0, Ultra Sports, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (91, 3.0, Mountain Madness, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (92, 4.0, VIP Department Stores, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (93, 8.0, Le Golfeur, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (94, nan, Sunglass Corner, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (95, 5.0, Falcon Outfitters, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (96, 6.0, Maximum Sports, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (97, 7.0, Act'N'Up Fitness, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (98, nan, Advanced Climbing Ltd, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (99, 69.0, Outdoor Gear Co-op, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (100, 70.0, Golf Masters, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (101, 71.0, The Marketplace, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (102, 72.0, Camping Equipment Online, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (103, 73.0, Tamarack Outfitter Rentals, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (104, 74.0, Extreme Outdoors, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (105, 75.0, Eye Dimensions, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (106, 76.0, Donovan's Sports, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (108, 78.0, Trail Masters, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (109, 79.0, Second Wind Sports, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (110, 80.0, The Golf Hut, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (111, 81.0, Buena Vista Eyeware, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (112, nan, Jack and Jill Climbing School & Supplies, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (113, 82.0, Edward's Department Store, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (114, nan, Parkland Camping Rentals, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (115, 83.0, Consumer Club, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (116, 84.0, Connor Department Store, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (117, 85.0, By A Thread, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (118, 86.0, Hartman's, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (119, 87.0, Mega-Outlet, 4)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (120, nan, Pumped!, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (121, 88.0, The Caddy's Corner, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (122, nan, Up The Creek, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (123, 89.0, American Home, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (124, 90.0, Weston Outfitters, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (125, 233.0, La bonne Forme, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (126, 91.0, Artículos de Campismo El Aquila, S.A. de C.V., 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (127, 92.0, Todo para el Golf, S.A. de C.V., 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (128, 93.0, MER-KA-DOS, S.A. de C.V., 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (129, 235.0, Golf Shop Jiro, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (130, 236.0, Japan Sports Youhinten, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (131, 237.0, Hinode Megane, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (132, 238.0, Hanagata Golf Shop, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (133, nan, Kitanaka Tozanyouhinten, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (134, 239.0, Kanjosen Sport, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (135, nan, Chuei Hyakkaten, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (136, 240.0, NIPPON Sofcon Net, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (137, 625.0, Campingspecialisten, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (138, 616.0, Sport Jonas, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (140, nan, T & R Sport, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (141, 526.0, Sportworld, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (142, 527.0, Topforma, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (143, nan, Get Out, 5)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (144, 529.0, Holland Zonzoekers, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (145, 530.0, Beter Buitenleven, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (146, 531.0, Extra Sport, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (147, 485.0, NonSoloNeve, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (148, 486.0, Paradiso della Tenda, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (149, nan, Bellini, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (150, nan, Brambilla, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (155, 401.0, Beach Beds Pty Ltd., 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (156, 412.0, Blue Mountains Golfing Company, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (157, 402.0, Kanga Kampers, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (158, 543.0, Naranco de Bulnes, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (159, 548.0, Ocio y Aventura, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (160, 437.0, Esportes Grumari, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (161, 465.0, Preben's Tøy, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (168, 481.0, Arjan Aitta, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (170, nan, Hansung Golf, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (171, 499.0, Taeho Sports, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (172, 575.0, Chen Yu Enterprise Co.,, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (173, 580.0, Fu Chin Sport Equipment Co., 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (174, 573.0, Hai Wan Shin Sport Equipment Co., 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (175, 454.0, Hangzhou Superman Sports Goods Co., LTD., 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (176, 456.0, China Multi-channel Sports Co., LTD., 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (177, 455.0, Lan King Sports Co., LTD., 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (178, nan, Beck's Sports Store, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (179, nan, Browns Opticals, 7)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (180, 587.0, Hurst Ironmongers, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (181, 585.0, Jensen Mountaineering, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (182, 586.0, Leisure Land, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (183, 589.0, Outdoor Experience, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (184, nan, Romford Tools Ltd, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (185, nan, Alles für Draußen, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (186, 561.0, Arnold's Clubs, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (188, 557.0, Windsurfing Zürichsee, 8)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (189, 425.0, Golf's'us, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (193, 428.0, Allo Allo, 3)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (194, 429.0, Caravanserai, 6)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (209, 415.0, Ausrüstungshaus Globetrotter, 2)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (210, nan, Golfer-Paradies, 1)
INSERT INTO retailer (RETAILER_CODE, RETAILER_CODEMR, COMPANY_NAME, RETAILER_TYPE_CODE) VALUES (211, 414.0, Outdoor-Fachgeschäft Müller, 6)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (4, 19, Gilles, Rapier, Site Manager, nan, 1 (613) 740-6701, GRapier@f76.net, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (5, 23, Walter, Baker, Site Manager, nan, 1 (514) 743-7985, WBaker@maxsnetinc.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (6, 4, Marie, Turcotte, Assistant Purchaser, 635.0, 1 (514) 747-2582, MTurcotte@cybserv19.com, F)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (7, 2, Mark, Myers, Assistant Purchaser, nan, 1 (514) 741-2277, MMyers@rocksteadyitl.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (9, 10, Jack, Marshall, Site Manager, nan, 1 (604) 682-4523, JMarshall@vipce2k.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (10, 14, Frank, Smith, Chief Purchaser, 2489.0, 1 (514) 741-1610, FSmith@legolfeurinc.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (11, 25, Frank, Bretton, District Manager, 3452.0, 1 (613) 735-5759, FBretton@maxsnetinc.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (13, 27, Elise, Leblanc, District Manager, nan, 1 (416) 496-5066, ELeblanc@actup9.com, F)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (14, 30, Serge, Champoux, Assistant Purchaser, 784.0, 1 (416) 489-3763, SChampoux@actup9.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (15, 29, Guy, Lamoureux, District Manager, nan, 1 (416) 496-7756, GLamoureux@actup9.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (16, 3, Yves, Fortin, Site Assistant Manager, nan, 1 (506) 446-2897, YFortin@rocksteadyitl.com, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (17, 20, Walter, Reilly, Chief Purchaser, 2148.0, 1 (902) 427-6942, WReilly@f76.net, M)
INSERT INTO retailer_contact (RETAILER_CONTACT_CODE, RETAILER_SITE_CODE, FIRST_NAME, LAST_NAME, JOB_POSITION_EN, EXTENSION, FAX, E_MAIL, GENDER) VALUES (22, 11, Richard, Seitak, Chief Purchaser, 3425.0, 1 (604) 682-3059, RSeitak@vipce2k.com, M)