In [24]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
tf.random.set_seed(100)

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

df = sns.load_dataset('mpg')
print(df.shape)
df.describe(include='all')

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,usa,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,NaN,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,NaN,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,NaN,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,NaN,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,NaN,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,NaN,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,NaN,NaN

In [25]:
df['horsepower'].fillna(df['horsepower'].median(), inplace=True)
df = df.drop(['name'], axis=1)
df = pd.get_dummies(df, columns=['cylinders'], drop_first=True, prefix='Cylinder')
df = pd.get_dummies(df, columns=['model_year'], drop_first=True, prefix='Year')
df = pd.get_dummies(df, columns=['origin'], drop_first=True, prefix='Origin')
df.head()

C:\Users\jdvis_x5odeao\AppData\Local\Temp\ipykernel_22560\3318664815.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].median(), inplace=True)

,mpg,displacement,horsepower,weight,acceleration,Cylinder_4,Cylinder_5,Cylinder_6,Cylinder_8,Year_71,...,Year_75,Year_76,Year_77,Year_78,Year_79,Year_80,Year_81,Year_82,Origin_japan,Origin_usa
0,18.0,307.0,130.0,3504,12.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
1,15.0,350.0,165.0,3693,11.5,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2,18.0,318.0,150.0,3436,11.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
3,16.0,304.0,150.0,3433,12.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
4,17.0,302.0,140.0,3449,10.5,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [26]:
target_variable = ['mpg'] 
predictors = list(set(list(df.columns))-set(target_variable))
df[predictors] = df[predictors]/df[predictors].max()
df.describe()

              mpg
count  398.000000
mean    23.514573
std      7.815984
min      9.000000
25%     17.500000
50%     23.000000
75%     29.000000
max     46.600000

In [27]:
X = df[predictors].values
y = df[target_variable].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

print(X_train.shape); print(X_test.shape)

(278, 22)
(120, 22)

In [28]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Dense(32, input_shape = (X_train.shape[1],), activation = 'relu'))
model.add(tf.keras.layers.Dense(16, activation= "relu"))
model.add(tf.keras.layers.Dense(8, activation= "relu"))
model.add(tf.keras.layers.Dense(4, activation= "relu"))
model.add(tf.keras.layers.Dense(1))

c:\Users\jdvis_x5odeao\Semester_4\DEDS_Portfolio\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [29]:
optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss = 'mae', metrics = ['mae'], optimizer = optimizer)

In [30]:
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')


model.fit(X_train, y_train, epochs=50)

Epoch 1/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 22.7110 - mae: 22.7110
Epoch 2/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 15.3025 - mae: 15.3025
Epoch 3/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 8.5714 - mae: 8.5714
Epoch 4/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 4.5656 - mae: 4.5656
Epoch 5/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.7036 - mae: 3.7036
Epoch 6/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 3.1675 - mae: 3.1675
Epoch 7/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.7806 - mae: 2.7806
Epoch 8/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.8665 - mae: 2.8665
Epoch 9/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.6691 - mae: 2.6691
Epoch 10/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.6221 - mae: 2.6221
Epoch 11/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.8135 - mae: 2.8135
Epoch 12/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.7954 - mae: 2.7954
Epoch 13/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.4637 - mae: 2.4637
Epoch 14/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5594 - mae: 2.5594
Epoch 15/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.6389 - mae: 2.6389
Epoch 16/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5603 - mae: 2.5603
Epoch 17/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.3669 - mae: 2.3669
Epoch 18/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 2.3946 - mae: 2.3946
Epoch 19/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5783 - mae: 2.5783
Epoch 20/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.8302 - mae: 2.8302
Epoch 21/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.4591 - mae: 2.4591
Epoch 22/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1959 - mae: 2.1959
Epoch 23/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1930 - mae: 2.1930
Epoch 24/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5034 - mae: 2.5034
Epoch 25/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 2.8980 - mae: 2.8980
Epoch 26/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.4638 - mae: 2.4638
Epoch 27/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1021 - mae: 2.1021
Epoch 28/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1069 - mae: 2.1069
Epoch 29/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 2.2647 - mae: 2.2647
Epoch 30/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.4422 - mae: 2.4422
Epoch 31/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5614 - mae: 2.5614
Epoch 32/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.3595 - mae: 2.3595
Epoch 33/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.0489 - mae: 2.0489
Epoch 34/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.0539 - mae: 2.0539
Epoch 35/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.3556 - mae: 2.3556
Epoch 36/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.5163 - mae: 2.5163
Epoch 37/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.2579 - mae: 2.2579
Epoch 38/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.9954 - mae: 1.9954
Epoch 39/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.9669 - mae: 1.9669
Epoch 40/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1953 - mae: 2.1953
Epoch 41/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.3183 - mae: 2.3183
Epoch 42/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.2033 - mae: 2.2033
Epoch 43/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.0266 - mae: 2.0266
Epoch 44/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.9236 - mae: 1.9236
Epoch 45/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.8685 - mae: 1.8685
Epoch 46/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.0148 - mae: 2.0148
Epoch 47/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.3598 - mae: 2.3598
Epoch 48/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2.1897 - mae: 2.1897
Epoch 49/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.9764 - mae: 1.9764
Epoch 50/50
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.8195 - mae: 1.8195

In [31]:
print(model.evaluate(X_train, y_train))

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.8388 - mae: 1.8388
[1.7977323532104492, 1.7977323532104492]

In [32]:
X_test = X_test.astype('float32')
y_test = y_test.astype('float32')

print(model.evaluate(X_test, y_test))

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 2.2308 - mae: 2.2308
[2.405280113220215, 2.405280113220215]

In [35]:
pred_train = model.predict(X_train)
r2_score(y_train, pred_train)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

0.8966689109802246

In [34]:
pred_test = model.predict(X_test)
r2_score(y_test, pred_test)

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

0.8073281049728394